@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");

@font-face {
  font-family: "Kimberly Paradise";
  src: url(Kimberly\ Paradise.otf);
}

html {
  user-select: none;
}



.whole_page {
  position: relative;
  height: auto;
  background-color: #044278;

}

.landing {
  position: relative;
  height: 100vh;
  border: #d7c4b0 solid 1.4vw;
  background-color: transparent;
  overflow: hidden;
  display: block;
  z-index: 3;
}

/* On smaller Canvas */

@media (max-width: 991.98px) {
  .navbar-custom {
    display: none !important;
  }
  .offcanvas-button {
    position: fixed;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 2vw;
    width: auto;
    display: grid;
    z-index: 1000;
  }
  .offcanvas-button svg {
    fill: #d7c4b0;
  }
  .offcanvas-button:hover {
    background-color: #11233596;
  }
}

.offcanvas {
  background-color: #112335;
}
.offcanvas {
  color: #d7c4b0;
  padding: 8px 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
}
.offcanvas-header .offcanvas-title {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3vw;
}
.offcanvas-header {
  border-bottom: 1px solid #d7c4b0;
  margin-top: 25px;
}
.offcanvas .nav-link {
  padding-bottom: 3vw;
}
.offcanvas .nav-link:hover {
  color: #e09005;
}
.btn-close {
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(0deg);
}

/* On larger Canvas */
@media (min-width: 992px) {
  .offcanvas-button {
    display: none !important;
  }
}

.navbar-custom {
  background-color: #0e2c4dbb;
  border-radius: 12px;
  max-width: 60vw;
  margin: 0 auto;
  top: 3vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  z-index: 1000;
  position: fixed;
  transition: all 0.3s ease-out;
}

/* Navbar.expand for new section*/
.navbar-custom.expand {
  max-width: 100vw;
  top: 0;
  font-size: 1vw;
  border-radius: 0;
  background-color: #d7c4b0;
}
.navbar-custom.expand .navbar-nav .nav-link {
  color: #112335;
}

.navbar-custom.expand .navbar-nav .nav-link:hover {
  color: #a0927a;
}
.navbar-custom .navbar-collapse {
  justify-content: center;
}
.navbar-custom.expand .navbar-collapse {
  justify-content: end;
}

.navbar-custom .navbar-brand {
  display: none;
}
.navbar-custom.expand .navbar-brand {
  display: block;
  color: #112335;
  font-weight: 600;
  font-size: 1.2vw;
  font-family: "Poppins", sans-serif;
}

.navbar-custom .navbar-nav .nav-link {
  color: #ddc4b4;
  padding: 5px 40px;
}
.navbar-custom .navbar-nav .nav-link {
  color: #ddc4b4;
  padding: 5px 40px;
}

.navbar-nav .nav-link.active {
  color: #e09005;
  font-weight: bold;
  text-decoration: solid;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #e09005;
}

.navbar-custom .navbar-nav .nav-link:focus {
  color: #ddc4b4;
}

.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: #e09005;
  font-weight: bold;
}

@media all and (min-width: 360px) {
  .text-container {
    position: relative;
    top: 40%;
    transform: scale(1.8);
    left: 50%;
  }
  .text_1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.667vw;
    color: #d7c4b0;
    margin-left: 0.4vw;
    position: absolute;
    padding: 0;
  }
  .text_2 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    color: #d7c4b0;
    padding: 0;
    margin: 0 auto;
  }
  .text_3 {
    bottom: 9vw;
    left: 21vw;
    font-style: italic;
    rotate: -3deg;
    z-index: 100;
    font-size: 13vw;
    font-family: "Kimberly Paradise";
    font-style: italic;
    -webkit-text-stroke: 0.3vw #e09005;
    color: #e09005;
    line-height: 0.645;
    position: relative;
    right: 0;
  }
  .text_4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.3vw;
    color: #d7c4b0;
    position: relative;
    text-align: left;
    top: -5vw;
    left: 0.5vw;
  }

  .text_5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: #d7c4b0;
    position: absolute;
    text-align: justify;
    word-wrap: break-word;
    white-space: normal;
  }

  .text-container-2 {
    background-color: transparent;
    position: relative;
    width: 40vw;
    top: -5vw;
    height: auto;
    left: 0.5vw;
  }
  .contact_list {
    position: absolute;
    bottom: 10vw;
    left: 33%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 100;
    width: fit-content;
    padding: 7px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }

  .contact_list li {
    list-style: none;
    display: block;
  }

  .contact_list a {
    display: block;
    padding: 2px;
    color: #d7c4b0;
    transition: fill 0.3s ease-in-out;
  }

  .contact_list a svg {
    fill: #d7c4b0;
    width: 4vw;
    height: 4vw;
    transition: fill 0.3s ease-in-out;
  }

  .contact_list a:hover svg {
    fill: #e09005;
  }
}

@media all and (min-width: 1024px) {
  .text-container {
    position: relative;
    top: 32%;
    transform: scale(1.3);
    left: 19vw;
  }
  .text_1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.667vw;
    color: #d7c4b0;
    margin-left: 0.4vw;
    position: absolute;
    padding: 0;
  }
  .text_2 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;
    color: #d7c4b0;
    padding: 0;
    margin: 0 auto;
  }

  .text_3 {
    bottom: 8vw;
    left: 20vw;
    font-style: italic;
    rotate: -3deg;
    z-index: 100;
    font-size: 13vw;
    font-family: "Kimberly Paradise";
    font-style: italic;
    -webkit-text-stroke: 0.2vw #e09005;
    color: #e09005;
    line-height: 0.645;
    position: relative;
    right: 0;
  }

  .text_4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 0.8vw;
    color: #d7c4b0;
    position: relative;
    text-align: left;
    top: -8vw;
    left: 0.5vw;
  }

  .text_5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7vw;
    color: #d7c4b0;
    position: absolute;
    text-align: justify;
    word-wrap: break-word;
    white-space: normal;
  }

  .text-container-2 {
    background-color: transparent;
    position: relative;
    width: 27vw;
    top: -7vw;
    height: auto;
    left: 0.5vw;
  }

  .mc {
    position: relative;
    width: 65%;
    left: 78%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 0;
    filter: drop-shadow(-10px 10px 12px rgba(22, 49, 72, 0.5));
  }

  .contact_list {
    position: absolute;
    bottom: 5vw;
    left: 4.6%;
    transform: translateX(-50%); /* Center horizontally */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 100;
    width: fit-content;
    padding: 7px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }

  .contact_list li {
    list-style: none;
    display: block;
  }

  .contact_list a {
    display: block;
    padding: 2px;
    color: #d7c4b0;
    transition: fill 0.3s ease-in-out;
  }

  .contact_list a svg {
    fill: #d7c4b0;
    transition: fill 0.3s ease-in-out;
    width: 2.3vw;
    height: 2.3vw;
  }

  .contact_list a:hover svg {
    fill: #e09005;
  }
}

.resume_section {
  background-color: #112335;
  height: auto;
  overflow: hidden;
  
}


.expertise_section{
  background-color: #112335;
  padding-bottom: 300px; 
  box-sizing: border-box;
  overflow: hidden;
}

.expertise_caption{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  color: #d7c4b0;
  position: relative;
  top: 10vw;
  text-align: center;
  align-items: center;

}

.custom-container{
  position: relative;
  top: 11vw;
  padding: 15px;
  width: fit-content;
}

.custom-card {
  height: 23vw;
  border-radius: 5%;
  transition: all 0.3s ease-out;
  overflow: hidden;
  margin-bottom: 16px;
}

.custom-card:hover{
  transform: scale(1.04);
  box-shadow: 0px 20px 0 #e09005;
}

.custom-card .card-body{
  background-color: #d7c4b0;
  border-radius: inherit;
  padding: 30px;
}

.custom-card .card-title{
  font-family: "Poppins", sans-serif;
  margin-top: 2vw;
  margin-bottom: 1vw;
  font-weight: 900;
  font-style: normal;
  font-size: 2vw;
  color: #112335;
}

.skills_icons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: fit-content;
  left:-2.6vw;
  padding-top: 1vw;
}

.skills_icons li {
  list-style: none;
  display: block;
  transition: all 0.2s ease-in-out;
}
.skills_icons li:hover {
  transform:translateY(-9px);
}

.expertise_subheading{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  color: #d7c4b0;
  position: relative;
  top: 15vw;
  text-align: center;
  text-wrap: wrap;
  line-height:25px;
}

.btn-custom {
  position: fixed;
  bottom: 1.5vw; 
  right: 1.5vw; 
  z-index: 1000; 
  background-color: #e09005;
  border: none;
  display: inline;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-out;
}

.btn-custom svg{
  padding: 5px;
}

.btn-custom p{

  display: none;
  transition: all .3s ease-out;
}

.btn-custom:hover p{ 
  display: inline;
  margin-right: 5px;
  background-color: #044278;
} 

.btn-custom:hover {
  background-color: #044278;
}

.education_section{
  background-color: #0e1f2c;
  height: auto;

}

.education_header {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  color: #d7c4b0;
  position: relative;
  text-align: center; 
  top: 4.7vw;
  margin-left: auto; 
}

.education_subheading{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  color: #d7c4b0;
  position: relative;
  top: 4.5vw;
  text-align: center;
  text-wrap: wrap;
  line-height:25px;
  max-width: 80%;
  margin: 0 auto;
}
.container-timeline{
  position: relative;
  top:2vw;
  width: 70vw;
}

.custom-card-timeline .card-body {
  padding: 2rem; 
  background-color: #d7c4b0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.custom-card-timeline {
  position: relative;
  border-radius: 25px;
}

.img_holder {
  position: relative;
  width: 100%; 
  height: 200px; 
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card-img-top {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transition: all 0.3s ease-out;
}

.card-img-top-hover {
  position: absolute; 
  background-color: transparent;
  width: 36%;
  height: auto; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 2; 
  opacity: 0; 
  transition: opacity 0.3s ease-out; 
}

.custom-card-timeline h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
  color: #112335;
}
.custom-card-timeline P {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  color: #112335;
}

.img_holder:hover .card-img-top-hover {
  opacity: 1;
}
.custom-card-timeline:hover .card-img-top-hover {
  opacity: 1;
}
.custom-card-timeline:hover .card-img-top {
  filter: brightness(50%) blur(.7px);
  transform: scale(1.1);
}

.main-timeline-2 {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #e09005;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-2 {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-2::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #e09005;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left-2 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right-2 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right-2::after {
  left: -14px;
}

.btn-see-more{
  background-color: #044278;
  border: none;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline-2::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-2::after,
  .right-2::after {
    left: 18px;
  }

  .left-2::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right-2 {
    left: 0%;
  }
}

.experience_section{
  background-color: #112335;
  height: auto;
  overflow: hidden;
}

.experience_header {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 52px;
  color: #d7c4b0;
  position: relative;
  text-align: center; 
  top: 5vw;
  margin-left: auto; 
}

.experience_subheading{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 17px;
  color: #d7c4b0;
  position: relative;
  top: 6vw;
  text-align: center;
  text-wrap: wrap;
  line-height:25px;
  max-width: 80%;
  margin: 0 auto;
}

.custom-accordion {
  max-width: 65%; 
  margin: 0 auto; 
  position: relative;
  top: 9vw;
  border: none;
  margin-bottom: 20vw;
}


.custom-accordion .accordion-item {
  margin-bottom: 15px; 
  border-radius: 10px; 
  overflow: hidden; 
  background-color: transparent; 
  border: none;
}

.custom-accordion .accordion-button {
  border-radius: 10px; 
  background-color: #12487a; 
  color: #d7c4b0; 
  border: none; 
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  position: relative;
  padding-right: 60px; /* Add padding to make space for the year */
  text-align: left; /* Align text to the left */
}

.title {
  display: inline-block;
  max-width: 60%;
}

.year {
  position: absolute;
  right: 7vw; 
  bottom: 50%;
  font-size: 18px;
  transform: translateY(50%); 

}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: #1062af; 
  color: #d7c4b0;
  border: none;
}

.custom-accordion .accordion-body {
  background-color: #183653ab;
  color: #d7c4b0;
  margin-top: 10px;
  border: none;
}
.custom-accordion .accordion-collapse {
  border-radius: 0 0 10px 10px; 
  border: none;
}


.awards_section {
  background-color: #0e1f2c;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px; 
  box-sizing: border-box;
}

.awards_header{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  color: #d7c4b0;
  position: relative;
  text-align: center; 
  top: 5vw;
  margin-left: auto; 
}

.awards_subheading{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  color: #d7c4b0;
  position: relative;
  top: 5vw;
  text-align: center;
  text-wrap: wrap;
  line-height:25px;
  max-width: 80%;
  margin: 0 auto;
}


.custom-containter-certs {
  position: relative;
  top: 8vw;
  margin: 0 auto;
 
}

@media all and (max-width: 900px) {
  .fixed-height-card {
    height: 300px; 
  }
}


.fixed-height-card {
  height: 190px; 
  display: flex;
  flex-direction: column;
  background-color: #eca222;
  color: #112335;
  transition: all 0.3s ease-out; 
  border-radius: 10px;
  padding: 2px;
}


.fixed-height-card .card-title{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 22px;
  color: #112335;
  position: relative;
  text-align: start;
}
.fixed-height-card .card-text{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  top: .7vw;
  color: #112335;
  position: relative;
  text-align: start;
}
.fixed-height-card small{
  font-style: italic;
}

.fixed-height-card:hover{
  transform: scale(1.04); 
}
.custom-containter-certs:hover .fixed-height-card:not(:hover) {
  opacity: 0.5;
  filter: blur(1px);
}
