@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");

@font-face {
  font-family: "Kimberly Paradise";
  src: url(Kimberly\ Paradise.otf);
}



html {
  user-select: none;
}

body {
  background-color: #044278;
}

.landing {
  position: relative;
  height: 100vh;
  border: 1.3vw solid #d7c4b0;
  background-color: transparent;
  overflow: hidden;
}

/* On smaller Canvas */

@media (max-width: 991.98px) { 
  .navbar-custom {
    display: none !important;
  }
  .offcanvas-button {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 2vw;
    display: grid;
  
  }
  .offcanvas-button svg{
    fill: #d7c4b0;
  }
  .offcanvas-button:hover{
    background-color: #11233596;
  }

  .right-box {
    position: absolute;
    height: 50vh;
    width: 100vw; 
    background-color: #d7c4b0;
    bottom: 0;
    margin: 0;
  }

}

.offcanvas{
  background-color: #112335; 
}

.offcanvas{
  color: #d7c4b0;
  padding: 8px 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

}
.offcanvas .nav-link:hover {
  color: #dda50a;
}
.btn-close {
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(0deg);
}


/* On larger Canvas */
@media (min-width: 992px) {
  .offcanvas-button {
    display: none !important;
  }
  .right-box {
    position: absolute;
    height: 100vh;
    width: 35vw;
    background-color: #d7c4b0;
    right: 0;
    top: 0;
  }
}


.navbar-custom {
  background-color: #11233596;
  border-radius: 12px;
  max-width: 60vw;
  margin: 0 auto;
  top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  z-index: 10;
}

.navbar-custom .navbar-nav .nav-link {
  color: #ddc4b4;
  padding: 8px 40px;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #dda50a;
}

.navbar-custom .navbar-nav .nav-link:focus {
  color: #ddc4b4;
}

.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: #dda50a;
  font-weight: bold;
}

.navbar-custom .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #ddc4b4;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

}

.navbar-custom .navbar-nav .nav-item .dropdown-menu {
  background-color: #11233596;
  margin-top: 7px;

}
.navbar-custom .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #ddc4b4;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: transparent;
}

.navbar-custom .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #dda50a;
  background-color: #112335; /* Background color on hover */
}

.navbar-custom .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus {
  color: #dda50a;
  background-color: #112335; 
}


@media (min-width: 10px) {
  .text-container {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-left:25vw;
    top: 18vw;
    transform: scale(1.7);
  }
  
  .text_1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
    color: #d7c4b0;
    margin: 0 auto;
    padding: 0;
    top: 1.8vw;
    left: 0.4vw;
    position: relative;
  }
  .text_2 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 11vw;
    color: #d7c4b0;
    padding: 0;
    margin: 0 auto;
  }
  .text_3 {
    font-size: 13vw;
    font-family: "Kimberly Paradise";
    font-style: italic;
    -webkit-text-stroke: 0.4vw #e09005;
    color: #e09005;
    line-height: 0.645;
    position: absolute;
    bottom: -2.5vw; 
    right: 0; 
  }
}
@media (min-width: 500px) {
  .text-container {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-left:25vw;
    top: 15vw;
    transform: scale(1.68);
  }
  
  .text_1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
    color: #d7c4b0;
    margin: 0 auto;
    padding: 0;
    top: 1.8vw;
    left: 0.4vw;
    position: relative;
  }
  .text_2 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 11vw;
    color: #d7c4b0;
    padding: 0;
    margin: 0 auto;
  }
  .text_3 {
    font-size: 13vw;
    font-family: "Kimberly Paradise";
    font-style: italic;
    -webkit-text-stroke: 0.4vw #e09005;
    color: #e09005;
    line-height: 0.645;
    position: absolute;
    bottom: -2.5vw; 
    right: 0; 
  }
}

@media (min-width: 992px) {

  .text-container {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-left:10vw;
    top: 11vw;
    transform: scale(1.2);
  }
  .text_1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.667vw;
    color: #d7c4b0;
    margin: 0 auto;
    padding: 0;
  }
  .text_2 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 9.333vw;
    color: #d7c4b0;
    padding: 0;
    margin: 0 auto;
  }
  .text_3 {
    font-size: 12vw;
    font-family: "Kimberly Paradise";
    -webkit-text-stroke: 6px #e09005;
    color: #e09005;
    line-height: 0.645;
    position: absolute;
    bottom: -2.5vw; 
    right: 0; 
    font-style: italic;
    
  }

}

.carousel-custom {
  height: 22vw;
  width: 22vw;
  border-radius: 20px;
  position: absolute;
  right: 9vw;
  top: 9vw;
}
.carousel-custom .carousel-item img {
  border-radius: 20px;
}

.picture_1{
  height: 32vw;
  width: 32vw;
  border-radius: 100%;
  position: absolute;
  right: 8vw;
  top: 10vw;
  overflow: hidden;
}
.picture_1 img{
  border-radius: 20px;
  position: absolute;
  top: -15px;
  width: 100%;
}


